.panel {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 16rem;
  margin-top:auto;
}

.error {
  color: red;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.leaveButton, .joinButton{
  height: 3rem;
  width: 100%;
}

.btnWrapper{
margin-top: auto;
}