.brand-logo {
  height: 8rem;
  width: auto;
}

.brand-logo:hover {
  cursor: pointer;
}

body {
  background-color: #fff8f0;
  font-family: "Poppins", sans-serif;
}

button {
  background-color: #ffa94d;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.2rem 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #ff9246;
}
